@import url(http://fonts.googleapis.com/css?family=Raleway:400|Sanchez);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 24, ../scss/sass/screen.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Raleway";
  background-color: #ebebeb;
}

/* line 33, ../scss/sass/screen.scss */
div, button, ul, li, h1, h2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../scss/sass/screen.scss */
.page {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 41, ../scss/sass/screen.scss */
.page .page-body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  height: 100%;
  overflow: hidden;
  color: #6a4e4e;
}
/* line 48, ../scss/sass/screen.scss */
.page .page-body .address {
  font-family: "Sanchez";
  font-size: 16px;
  position: absolute;
  top: 50%;
  margin-top: 60px;
  display: block;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}
/* line 62, ../scss/sass/screen.scss */
.page .page-body h1 {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  padding-top: 60px;
  font-size: 2.5em;
  font-family: "Raleway";
  text-transform: uppercase;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}
/* line 80, ../scss/sass/screen.scss */
.page .page-body h1:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  top: 120px;
  left: 34%;
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 92, ../scss/sass/screen.scss */
.page .page-body h2 {
  text-align: center;
}
/* line 95, ../scss/sass/screen.scss */
.page .page-body h2:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  top: 60px;
  left: 34%;
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 107, ../scss/sass/screen.scss */
.page .page-body p {
  line-height: 1.6;
  font-size: 18px;
}
/* line 112, ../scss/sass/screen.scss */
.page.intro {
  background-image: url(../images/intro-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 119, ../scss/sass/screen.scss */
.page.welcome {
  color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.4);
  background-size: 100%;
  background-attachment: fixed !important;
  background-position: center;
  background-background-repeat: repeat;
  background-color: #fffcec;
}
/* line 130, ../scss/sass/screen.scss */
.page.welcome p:first-of-type {
  margin-top: 40px;
}
/* line 134, ../scss/sass/screen.scss */
.page.welcome h1 {
  color: #552500;
}
/* line 136, ../scss/sass/screen.scss */
.page.welcome h1:after {
  background-color: #552500;
}
/* line 140, ../scss/sass/screen.scss */
.page.welcome h2 {
  color: #552500;
}
/* line 142, ../scss/sass/screen.scss */
.page.welcome h2:after {
  background-color: #552500;
}
/* line 146, ../scss/sass/screen.scss */
.page.welcome p {
  color: #67462c;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 156, ../scss/sass/screen.scss */
.logo {
  position: absolute;
  text-indent: -999999px;
  left: 50%;
  margin-left: -112px;
  width: 224px;
  height: 150px;
  top: 50%;
  margin-top: -112px;
  background-image: url(../images/logo.svg);
  background-size: 224px 150px;
  background-repeat: no-repeat;
}

/* line 173, ../scss/sass/screen.scss */
.menu {
  position: fixed;
  right: 100px;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
  top: 50%;
  margin-top: -80px;
}
/* line 184, ../scss/sass/screen.scss */
.menu li {
  display: block;
  color: white;
  text-align: left;
  font-family: "Raleway";
  font-size: 16px;
  text-transform: uppercase;
  color: #d1b271;
  letter-spacing: 1px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  -webkit-transition: color 500ms linear;
  -moz-transition: color 500ms linear;
  -o-transition: color 500ms linear;
  transition: color 500ms linear;
}
/* line 198, ../scss/sass/screen.scss */
.menu li:before {
  content: "";
  position: absolute;
  border: 2px solid #d1b271;
  width: 10px;
  height: 10px;
  right: -30px;
  top: 50%;
  margin-top: -5px;
  border-radius: 50%;
  z-index: 10;
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
/* line 211, ../scss/sass/screen.scss */
.menu li:after {
  content: "";
  position: absolute;
  right: -24px;
  top: 17px;
  height: 40px;
  width: 2px;
  background-color: #d1b271;
}
/* line 220, ../scss/sass/screen.scss */
.menu li:hover {
  color: #ed8d6c;
  -webkit-transition: color 500ms linear;
  -moz-transition: color 500ms linear;
  -o-transition: color 500ms linear;
  transition: color 500ms linear;
}
/* line 222, ../scss/sass/screen.scss */
.menu li:hover:before {
  background-color: #ed8d6c;
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
/* line 231, ../scss/sass/screen.scss */
.menu li:last-child:after {
  display: none;
}

/* line 242, ../scss/sass/screen.scss */
.half {
  width: 49.5%;
  display: inline-block;
  position: relative;
}
/* line 246, ../scss/sass/screen.scss */
.half .portrait {
  content: "";
  width: 160px;
  position: absolute;
  height: 160px;
  z-index: 100;
  left: 50%;
  margin-left: -80px;
  border-radius: 100%;
  background-size: 160px;
  background-repeat: no-repeat;
}
/* line 259, ../scss/sass/screen.scss */
.half .portrait.ildiko {
  background-image: url(../images/ildiko.jpg);
}
/* line 262, ../scss/sass/screen.scss */
.half .portrait.lise {
  background-image: url(../images/lise.jpg);
}
