@import url(http://fonts.googleapis.com/css?family=Raleway:400|Sanchez);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 23, ../scss/sass/screen.scss */
a:hover {
  color: #ed8d6c;
}

/* line 28, ../scss/sass/screen.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Raleway";
  background-color: #ebebeb;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

/* line 41, ../scss/sass/screen.scss */
div, button, ul, li, h1, h2, input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 45, ../scss/sass/screen.scss */
.page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
/* line 50, ../scss/sass/screen.scss */
.page .page-body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  color: #6a4e4e;
}
/* line 60, ../scss/sass/screen.scss */
.page .page-body h1 {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  padding-top: 60px;
  font-size: 2.5em;
  font-family: "Raleway";
  text-transform: uppercase;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}
/* line 78, ../scss/sass/screen.scss */
.page .page-body h1:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  top: 120px;
  left: 34%;
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 90, ../scss/sass/screen.scss */
.page .page-body h2 {
  text-align: center;
}
/* line 93, ../scss/sass/screen.scss */
.page .page-body h2:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  top: 40px;
  left: 34%;
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 105, ../scss/sass/screen.scss */
.page .page-body p {
  line-height: 1.6;
  font-size: 18px;
}
/* line 110, ../scss/sass/screen.scss */
.page.intro {
  background-image: url(../images/intro-2.jpg);
  background-size: 180%;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1025px) {
  /* line 110, ../scss/sass/screen.scss */
  .page.intro {
    background-size: 100%;
  }
}
/* line 121, ../scss/sass/screen.scss */
.page.offer {
  background-image: url(../images/behandling-2.jpg);
  background-size: 180%;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1025px) {
  /* line 121, ../scss/sass/screen.scss */
  .page.offer {
    background-size: 100%;
  }
}
/* line 133, ../scss/sass/screen.scss */
.page.welcome, .page.contact {
  color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.4);
  background-size: 100%;
  background-attachment: fixed !important;
  background-position: center;
  background-background-repeat: repeat;
  background-color: #fffcec;
}
/* line 144, ../scss/sass/screen.scss */
.page.welcome .super, .page.contact .super {
  margin-top: 40px;
}
/* line 148, ../scss/sass/screen.scss */
.page.welcome h1, .page.contact h1 {
  color: #552500;
}
/* line 150, ../scss/sass/screen.scss */
.page.welcome h1:after, .page.contact h1:after {
  background-color: #552500;
}
/* line 154, ../scss/sass/screen.scss */
.page.welcome h2, .page.contact h2 {
  color: #552500;
  position: relative;
}
/* line 157, ../scss/sass/screen.scss */
.page.welcome h2:after, .page.contact h2:after {
  background-color: #552500;
}
/* line 160, ../scss/sass/screen.scss */
.page.welcome h2.left, .page.contact h2.left {
  text-align: left;
}
/* line 162, ../scss/sass/screen.scss */
.page.welcome h2.left:after, .page.contact h2.left:after {
  left: 0;
}
/* line 167, ../scss/sass/screen.scss */
.page.welcome p, .page.contact p {
  color: #67462c;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 177, ../scss/sass/screen.scss */
.logo {
  position: absolute;
  text-indent: -999999px;
  left: 50%;
  margin-left: -135px;
  width: 340px;
  height: 200px;
  top: 50%;
  margin-top: -200px;
  background-image: url(../images/logo.svg);
  background-size: 340px;
  background-repeat: no-repeat;
}

/* line 194, ../scss/sass/screen.scss */
.address {
  font-family: "Sanchez";
  font-size: 20px;
  position: absolute;
  padding-top: 10px;
  top: 50%;
  margin-top: -30px;
  display: block;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}
/* line 206, ../scss/sass/screen.scss */
.address:before {
  content: "";
  position: absolute;
  top: 0;
  width: 30%;
  left: 50%;
  margin-left: -15%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

/* line 220, ../scss/sass/screen.scss */
.menu {
  position: fixed;
  top: 0;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}
/* line 231, ../scss/sass/screen.scss */
.menu li {
  display: inline-block;
  padding: 10px 30px 10px 10px;
  color: white;
  text-align: left;
  font-family: "Raleway";
  font-size: 18px;
  text-transform: uppercase;
  color: #a68236;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  text-align: center;
  -webkit-transition: color 500ms linear;
  -moz-transition: color 500ms linear;
  -o-transition: color 500ms linear;
  transition: color 500ms linear;
}
/* line 246, ../scss/sass/screen.scss */
.menu li:hover {
  color: #ed8d6c;
}
/* line 250, ../scss/sass/screen.scss */
.menu:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 50%;
  left: 25%;
  background-color: rgba(209, 178, 113, 0.5);
}

/* line 265, ../scss/sass/screen.scss */
.half {
  width: 49.5%;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
/* line 271, ../scss/sass/screen.scss */
.half .portrait {
  content: "";
  width: 160px;
  position: absolute;
  height: 160px;
  z-index: 100;
  left: 50%;
  margin-left: -80px;
  border-radius: 100%;
  background-size: 160px;
  background-repeat: no-repeat;
}
/* line 284, ../scss/sass/screen.scss */
.half .portrait.ildiko {
  background-image: url(../images/ildiko.jpg);
}
/* line 287, ../scss/sass/screen.scss */
.half .portrait.lise {
  background-image: url(../images/lise.jpg);
}

/* line 295, ../scss/sass/screen.scss */
form .name,
form .email {
  padding: 10px;
  margin: 0;
  width: 100%;
  font-family: "Raleway";
  font-size: 18px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 10px;
  border: 8px solid rgba(217, 129, 52, 0.5);
}
/* line 307, ../scss/sass/screen.scss */
form .message {
  padding: 10px;
  margin: 0;
  font-family: "Raleway";
  font-size: 18px;
  height: 160px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  border: 8px solid rgba(217, 129, 52, 0.6);
}
/* line 318, ../scss/sass/screen.scss */
form .submit {
  color: white;
  padding: 10px;
  font-size: 18px;
  font-family: "Raleway";
  border-radius: 5px;
  border: 0;
  background-color: #d98134;
  border: 8px solid rgba(217, 129, 52, 0.6);
}

/* line 332, ../scss/sass/screen.scss */
.inner-menu {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 500;
}
/* line 341, ../scss/sass/screen.scss */
.inner-menu li {
  padding: 10px;
  display: inline-block;
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 18px;
}
/* line 347, ../scss/sass/screen.scss */
.inner-menu li a {
  color: white;
  text-decoration: none;
}

/* line 355, ../scss/sass/screen.scss */
.inner-content {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 359, ../scss/sass/screen.scss */
.inner-content .content-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 364, ../scss/sass/screen.scss */
.inner-content .content-container .page-body {
  padding-top: 130px;
}

/* line 375, ../scss/sass/screen.scss */
.dandelion-1,
.dandelion-2,
.dandelion-3,
.dandelion-4,
.dandelion-5 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -180px;
  left: 50%;
  margin-left: 130px;
  background-image: url("../images/dandelion.svg");
  background-size: 40px;
}

/* line 389, ../scss/sass/screen.scss */
.dandelion-1 {
  -webkit-animation: dandelion-1 10s infinite linear;
  -moz-animation: dandelion-1 10s infinite linear;
  -ms-animation: dandelion-1 10s infinite linear;
  -o-animation: dandelion-1 10s infinite linear;
  animation: dandelion-1 10s infinite linear;
}

/* line 392, ../scss/sass/screen.scss */
.dandelion-2 {
  -webkit-animation: dandelion-2 15s infinite linear;
  -moz-animation: dandelion-2 15s infinite linear;
  -ms-animation: dandelion-2 15s infinite linear;
  -o-animation: dandelion-2 15s infinite linear;
  animation: dandelion-2 15s infinite linear;
}

/* line 395, ../scss/sass/screen.scss */
.dandelion-3 {
  -webkit-animation: dandelion-3 20s infinite linear;
  -moz-animation: dandelion-3 20s infinite linear;
  -ms-animation: dandelion-3 20s infinite linear;
  -o-animation: dandelion-3 20s infinite linear;
  animation: dandelion-3 20s infinite linear;
}

/* line 398, ../scss/sass/screen.scss */
.dandelion-4 {
  -webkit-animation: dandelion-4 10s infinite linear;
  -moz-animation: dandelion-4 10s infinite linear;
  -ms-animation: dandelion-4 10s infinite linear;
  -o-animation: dandelion-4 10s infinite linear;
  animation: dandelion-4 10s infinite linear;
}

@-webkit-keyframes dandelion-1 {
  /* line 419, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 422, ../scss/sass/screen.scss */
  15% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 426, ../scss/sass/screen.scss */
  20% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 429, ../scss/sass/screen.scss */
  25% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 433, ../scss/sass/screen.scss */
  60% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* line 436, ../scss/sass/screen.scss */
  75% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    left: 10%;
    top: 20%;
  }

  /* line 442, ../scss/sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes dandelion-1 {
  /* line 419, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 422, ../scss/sass/screen.scss */
  15% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 426, ../scss/sass/screen.scss */
  20% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 429, ../scss/sass/screen.scss */
  25% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 433, ../scss/sass/screen.scss */
  60% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* line 436, ../scss/sass/screen.scss */
  75% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    left: 10%;
    top: 20%;
  }

  /* line 442, ../scss/sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes dandelion-1 {
  /* line 419, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 422, ../scss/sass/screen.scss */
  15% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 426, ../scss/sass/screen.scss */
  20% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 429, ../scss/sass/screen.scss */
  25% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 433, ../scss/sass/screen.scss */
  60% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* line 436, ../scss/sass/screen.scss */
  75% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    left: 10%;
    top: 20%;
  }

  /* line 442, ../scss/sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@keyframes dandelion-1 {
  /* line 419, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 422, ../scss/sass/screen.scss */
  15% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 426, ../scss/sass/screen.scss */
  20% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 429, ../scss/sass/screen.scss */
  25% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 433, ../scss/sass/screen.scss */
  60% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* line 436, ../scss/sass/screen.scss */
  75% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    left: 10%;
    top: 20%;
  }

  /* line 442, ../scss/sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes dandelion-2 {
  /* line 448, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 451, ../scss/sass/screen.scss */
  50% {
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 457, ../scss/sass/screen.scss */
  75% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 461, ../scss/sass/screen.scss */
  80% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 464, ../scss/sass/screen.scss */
  85% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 467, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 10%;
  }
}

@-moz-keyframes dandelion-2 {
  /* line 448, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 451, ../scss/sass/screen.scss */
  50% {
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 457, ../scss/sass/screen.scss */
  75% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 461, ../scss/sass/screen.scss */
  80% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 464, ../scss/sass/screen.scss */
  85% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 467, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 10%;
  }
}

@-ms-keyframes dandelion-2 {
  /* line 448, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 451, ../scss/sass/screen.scss */
  50% {
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 457, ../scss/sass/screen.scss */
  75% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 461, ../scss/sass/screen.scss */
  80% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 464, ../scss/sass/screen.scss */
  85% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 467, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 10%;
  }
}

@keyframes dandelion-2 {
  /* line 448, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 451, ../scss/sass/screen.scss */
  50% {
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 457, ../scss/sass/screen.scss */
  75% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 461, ../scss/sass/screen.scss */
  80% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 464, ../scss/sass/screen.scss */
  85% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 467, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 10%;
  }
}

@-webkit-keyframes dandelion-3 {
  /* line 476, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 479, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 484, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 488, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 491, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 494, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 80%;
    top: 60%;
  }
}

@-moz-keyframes dandelion-3 {
  /* line 476, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 479, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 484, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 488, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 491, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 494, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 80%;
    top: 60%;
  }
}

@-ms-keyframes dandelion-3 {
  /* line 476, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 479, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 484, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 488, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 491, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 494, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 80%;
    top: 60%;
  }
}

@keyframes dandelion-3 {
  /* line 476, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 479, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 484, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 488, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 491, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 494, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 80%;
    top: 60%;
  }
}

@-webkit-keyframes dandelion-4 {
  /* line 503, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 506, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 511, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 515, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 518, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 521, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 90%;
  }
}

@-moz-keyframes dandelion-4 {
  /* line 503, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 506, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 511, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 515, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 518, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 521, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 90%;
  }
}

@-ms-keyframes dandelion-4 {
  /* line 503, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 506, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 511, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 515, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 518, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 521, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 90%;
  }
}

@keyframes dandelion-4 {
  /* line 503, ../scss/sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 506, ../scss/sass/screen.scss */
  25% {
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  /* line 511, ../scss/sass/screen.scss */
  45% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 515, ../scss/sass/screen.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 518, ../scss/sass/screen.scss */
  55% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 521, ../scss/sass/screen.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    left: 60%;
    top: 90%;
  }
}
