/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";

$otherThanPhone: "only screen and (min-width : 602px)";
$otherThanPhoneAndIpad: "only screen and (min-width : 1025px)";

@import url(http://fonts.googleapis.com/css?family=Raleway:400|Sanchez);



$regularFont : 'Sanchez';
$thinFont : 'Raleway';

$gray : rgba(160,160,160,1);
$blue : #4374e0;


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $thinFont;
  background-color: rgba(235,235,235,1);
}

div, button, ul, li,h1,h2 {
  @include box-sizing(border-box);
}

.page {
  width: 100%;
  height: 100%;
  position: relative;
  .page-body {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    height: 100%;
    overflow: hidden;
    .address {
      font-family: $regularFont;
      font-size: 16px;
      position: absolute;
      top: 50%;
      margin-top: 60px;
      display: block;
      width: 100%;
      text-align: center;
      color: rgba(255,255,255,0.6);
      text-transform: uppercase;
    }
    color: #6a4e4e;

    h1 {
      position: relative;
      display: block;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      padding-top: 60px;

      font-size: 2.5em;
      font-family: $thinFont;
      text-transform: uppercase;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      font-weight: normal;
      font-style: normal;
      line-height: 1;
      color: rgba(255,255,255,0.6);

      &:after {
        content: "";
        position: absolute;
        width: 30%;
        height: 2px;
        top: 120px;
        left: 34%;
        background: {
          color: rgba(255,255,255,0.6);
        }
      }
    }
    h2 {
      text-align: center;

      &:after {
        content: "";
        position: absolute;
        width: 30%;
        height: 2px;
        top: 60px;
        left: 34%;
        background: {
          color: rgba(255,255,255,0.6);
        }
      } 
    }
    p {
      line-height: 1.6;
      font-size: 18px;
    }
  }
  &.intro {
    background: {
      image: url(../images/intro-2.jpg);
      size: 100%;
      repeat: no-repeat;
    }
  }
  &.welcome {
    color: rgba(255,255,255,0.8);
    @include box-shadow(0 0 40px 1px rgba(0,0,0,0.4));
    background: {
      size: 100%;
      attachment: fixed !important;
      position: center;
      background-repeat: repeat;
      color: #fffcec;
    }

    p:first-of-type {
      margin-top: 40px;
    }

    h1 {
      color: #552500;
      &:after {
        background-color: #552500;
      }
    }
    h2 {
      color: #552500;
      &:after {
        background-color: #552500;
      }
    }
    p {
      color: #67462c;
      line-height: 1.5;
      font-weight: normal;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.logo {
  position: absolute;
  text-indent: -999999px;
  left: 50%;
  margin-left: -112px;
  width: 224px;
  height: 150px;
  top: 50%;
  margin-top: -112px;
  
  background: {
    image: url(../images/logo.svg);
    size: 224px 150px;
    repeat: no-repeat;
  }
}

.menu {
  position: fixed;
  right: 100px;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
  top: 50%;
  margin-top: -80px;

  li {
    display: block;
    color: white;
    text-align: left;
    font-family: $thinFont;
    font-size: 16px;
    text-transform: uppercase;
    color: #d1b271;
    letter-spacing: 1px;
    margin-bottom: 30px;
    position: relative;
    cursor:pointer;
    @include transition(color 500ms linear);

    &:before {
      content: "";
      position: absolute;
      border: 2px solid #d1b271;
      width: 10px;
      height: 10px;
      right: -30px;
      top: 50%;
      margin-top: -5px;
      border-radius: 50%;
      z-index: 10;
      @include transition(background-color 500ms ease);
    }
    &:after {
      content: "";
      position: absolute;
      right: -24px;
      top: 17px;
      height: 40px;
      width: 2px;
      background-color: #d1b271;
    }
    &:hover {
      color: #ed8d6c;
      &:before {
        background: {
          color: #ed8d6c;
        }
        @include transition(background-color 500ms ease);
      }
      @include transition(color 500ms linear);
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}


.full {

}
.half {
  width: 49.5%;
  display: inline-block;
  position: relative;
  .portrait {
    content: "";
    width: 160px;
    position: absolute;
    height: 160px;
    z-index: 100;
    left: 50%;
    margin-left: -80px;
    border-radius: 100%;
    background: {
      size: 160px;
      repeat: no-repeat;
    }
    &.ildiko {
      background-image: url(../images/ildiko.jpg);
    }
    &.lise {
      background-image: url(../images/lise.jpg);  
    }
  }
}
